---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-concat-nested-namespaces,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-function-cognitive-complexity,
  -readability-else-after-return,
  -readability-isolate-declaration,
  -readability-redundant-access-specifiers,
  -readability-uppercase-literal-suffix,
  -readability-convert-member-functions-to-static,
  -readability-avoid-const-params-in-decls,
  -readability-const-return-type,
  -readability-suspicious-call-argument,
  hicpp-*,
  -hicpp-vararg,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-braces-around-statements,
  -hicpp-multiway-paths-covered,
  -hicpp-explicit-conversions,
  -hicpp-special-member-functions,
  -hicpp-named-parameter,
  -hicpp-avoid-c-arrays,
  misc-*,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-const-correctness,
  -misc-static-assert,
  -misc-use-anonymous-namespace,
  cert-*,
  -cert-dcl21-cpp,
  -cert-err58-cpp,
  -cert-msc50-cpp,
  -cert-msc30-cpp,
  -cert-dcl50-cpp,
  -cert-str34-c,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: '80'
...
